
.parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls{
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.square{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.board{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1px;
}